<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black_text_base_new_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,303},{166,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,33}}</string>
                <key>sourceSize</key>
                <string>{166,33}</string>
            </dict>
            <key>Brown_floor_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,496},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Enter_the_name_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,118},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>Generals_biography_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,118},{390,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,35}}</string>
                <key>sourceSize</key>
                <string>{390,35}</string>
            </dict>
            <key>Pull_down_the_new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,614},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>Skills_of_special_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,544},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{131,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,434},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,592},{129,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{129,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,496},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{131,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Window_shading_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{556,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,53}}</string>
                <key>sourceSize</key>
                <string>{556,53}</string>
            </dict>
            <key>Window_shading_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,178},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,48}</string>
            </dict>
            <key>bai_anniu_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,220},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>bai_anniu_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,531},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>bai_anniu_z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>biaotou_difangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,155},{362,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,29}}</string>
                <key>sourceSize</key>
                <string>{362,29}</string>
            </dict>
            <key>brown_line_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{90,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,3}}</string>
                <key>sourceSize</key>
                <string>{90,3}</string>
            </dict>
            <key>button_icon_Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,531},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>button_icon_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,531},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>denglu_jindut_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,54},{415,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,62}}</string>
                <key>sourceSize</key>
                <string>{415,62}</string>
            </dict>
            <key>dianji_mianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,375},{241,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,59}}</string>
                <key>sourceSize</key>
                <string>{241,59}</string>
            </dict>
            <key>dianji_mianban_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,436},{239,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{239,57}}</string>
                <key>sourceSize</key>
                <string>{241,59}</string>
            </dict>
            <key>fanhui_xintubiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,434},{65,60}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{65,60}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>fanhui_xintubiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,381},{67,64}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>fengexian_xin_ao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,72},{62,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,5}}</string>
                <key>sourceSize</key>
                <string>{62,5}</string>
            </dict>
            <key>frame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,496},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>frame_small_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,340},{275,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,33}}</string>
                <key>sourceSize</key>
                <string>{275,33}</string>
            </dict>
            <key>frame_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,308},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>golden_plate_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,495},{210,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,34}}</string>
                <key>sourceSize</key>
                <string>{210,34}</string>
            </dict>
            <key>img_gonggaoanniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,280},{272,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,58}}</string>
                <key>sourceSize</key>
                <string>{272,58}</string>
            </dict>
            <key>img_gonggaoanniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,220},{272,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,58}}</string>
                <key>sourceSize</key>
                <string>{272,58}</string>
            </dict>
            <key>img_yiyouzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,614},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>landinformation_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,186},{324,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,32}}</string>
                <key>sourceSize</key>
                <string>{324,32}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,578},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>main_interface_of_city_information_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,186},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>new_Small_button_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,450},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>new_Small_button_m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,578},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>new_big_button_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,386},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_big_button_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,338},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_big_button_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_button_in_normal_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,240},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>new_button_in_normal_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,172},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>new_header_plate_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{880,50}}</string>
                <key>sourceSize</key>
                <string>{880,54}</string>
            </dict>
            <key>not_reading_frame_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{476,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,79}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>not_reading_frame_y_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{476,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,79}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>renwudiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{463,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,347}}</string>
                <key>sourceSize</key>
                <string>{463,347}</string>
            </dict>
            <key>shuzi_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{68,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,5}}</string>
                <key>sourceSize</key>
                <string>{68,5}</string>
            </dict>
            <key>tishixinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,558},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>wenzi_xindiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,335},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>xinbantankuang_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,308},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>zuoyou_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,155},{45,45}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{45,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>zuoyou_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,507},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{49,49}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login_common.png</string>
            <key>size</key>
            <string>{1022,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbdfae712fa49f0114de06d49abee29c:1/1$</string>
            <key>textureFileName</key>
            <string>Login_common.png</string>
        </dict>
    </dict>
</plist>
