<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,220}}</string>
                <key>sourceSize</key>
                <string>{634,220}</string>
            </dict>
            <key>Select_the_server_end_of_the_box_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{460,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,61}}</string>
                <key>sourceSize</key>
                <string>{460,61}</string>
            </dict>
            <key>Select_the_server_end_of_the_box_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{460,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,61}}</string>
                <key>sourceSize</key>
                <string>{460,61}</string>
            </dict>
            <key>demglu_qingxuanzhechushengzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,114},{270,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,62}}</string>
                <key>sourceSize</key>
                <string>{270,62}</string>
            </dict>
            <key>dianjigonggao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,353},{237,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,70}</string>
            </dict>
            <key>dianjigonggao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,281},{237,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,70}</string>
            </dict>
            <key>duihuakuang_xuanzhezhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,178},{297,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,25}}</string>
                <key>sourceSize</key>
                <string>{297,25}</string>
            </dict>
            <key>fuwuqidiedai.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,262},{180,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,25}}</string>
                <key>sourceSize</key>
                <string>{180,25}</string>
            </dict>
            <key>fuwuqidiedai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{206,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,19}}</string>
                <key>sourceSize</key>
                <string>{206,19}</string>
            </dict>
            <key>fuwuqilianghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,621},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>fuwuqiyiman.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,621},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>gonggaotub.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,164},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>icon_born_flag_region_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,440},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>icon_born_flag_region_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,262},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>icon_born_flag_region_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,544},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>icon_born_flag_region_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,527},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>icon_born_flag_region_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,544},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>icon_born_flag_region_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,509},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>icon_born_flag_region_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,519},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>icon_born_flag_region_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,425},{111,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,92}}</string>
                <key>sourceSize</key>
                <string>{111,92}</string>
            </dict>
            <key>icon_born_flag_region_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,527},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>icon_born_flag_region_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,577},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>icon_born_flag_region_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,114},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>icon_born_flag_region_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,544},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>icon_born_flag_region_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,377},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>img_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,442},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>img_shaizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,425},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>kaishi_button_p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>kaishi_button_p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>loading_bar_word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,556},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>loading_bar_word_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,597},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,597},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,597},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,471},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,426},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,584},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,128},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,516},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>loading_bar_word_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,597},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>loading_bar_word_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,597},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>loading_bar_word_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,92},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,47},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,602},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,169},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>loading_bar_word_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{738,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,55}}</string>
                <key>sourceSize</key>
                <string>{738,55}</string>
            </dict>
            <key>loading_bar_word_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,602},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>loading_bar_word_eff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,205},{251,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,55}}</string>
                <key>sourceSize</key>
                <string>{251,55}</string>
            </dict>
            <key>loading_bar_word_eff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,383},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>loading_bar_words_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{539,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,49}}</string>
                <key>sourceSize</key>
                <string>{539,49}</string>
            </dict>
            <key>loading_bar_words_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{539,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,49}}</string>
                <key>sourceSize</key>
                <string>{539,49}</string>
            </dict>
            <key>new_server_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,327},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>new_server_tuijian_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,611},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>new_server_weihu_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,611},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>quanbuzhaomu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,382},{156,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,58}}</string>
                <key>sourceSize</key>
                <string>{156,58}</string>
            </dict>
            <key>quanbuzhaomu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,322},{156,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,58}}</string>
                <key>sourceSize</key>
                <string>{156,58}</string>
            </dict>
            <key>quanbuzhaomu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{156,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,58}}</string>
                <key>sourceSize</key>
                <string>{156,58}</string>
            </dict>
            <key>user_center_button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,444},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>user_center_button_p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,544},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{1021,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a824e07006dfbc3261fd48a82069e3a:1/1$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
